{% extends 'main_app/base.html '%}

{% block title %}
Users
{% endblock %}

{% block body %}
    <h1>List of users:</h1>
    {%if request.user.is_authenticated %}
        <ul>
            {% for user in users %}
            {% if not user.is_superuser and request.user != user %}
            {% if user not in request.user.friends.all %}
            <li>
                {{ user }}
                <a href="/send_request/{{user.id}}">add friend</a>
            </li>
            {%endif%}
            {%endif%}
            {% endfor %}
        </ul>
    {% else %}
        <h2>You need to sign in</h2>
    {%endif%}
{% endblock %}